.banner {
  overflow: hidden;
  padding-block: 1rem;

  background: linear-gradient(90deg, #F472B6 0%, #67E8F9 100%);
  background-size: 400%;
  background-position: 0% 50%;

  animation: bg-gradient 10s ease infinite;

  & .banner-items {
    display: flex;
    gap: 1.5rem;
    background-color: transparent;

    animation: rolling 2s linear infinite;

    & img {
      background-color: transparent;
    }
  }
}

@keyframes bg-gradient {
  50% {
    background-position: 100% 50%;
  }
}

@keyframes rolling {
  to {
    transform: translateX(-8.1875rem);
  }
}
