footer {
  padding-block: 1.5rem 3rem;
  
  display: grid;
  gap: 3rem;
  width: 19.5rem;  
  padding-inline: 0;
}

footer p {
  font: var(--font-h2);
  
  display: flex;
  gap: .75rem;
  align-items: center;
}

footer p img {
  transition: rotate 350ms;
}

footer p img:hover {
  rotate: 90deg;
}

footer ul {
  font: var(--font-span);
  display: grid;
  gap: 1.5rem;
  list-style: none;
}

.social-media {
  display: flex;
  position: relative;

  & a:hover {
    background-color: #FFCD1E;
  }

  & a {
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    & img {
      background: transparent;
    }
  }
}

@media (width >= 80rem) {
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  footer .links {
    font: var(--font-span);
    display: flex;
    gap: 2rem;
    list-style: none;
    
  & a {
    position: relative;
    &:hover::after {
      transform: scaleX(1);
    }
  }

  & a::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #06b6d4;

    position: absolute;
    bottom: 0;
    left: 0;

    transform: scaleX(0);
    transition: transform 200ms linear;
  }
  }
}