.hero {
 padding-block: 1rem 3rem;
}

.hero > img {
  width: 20rem;
}

.hero-infos h1 {
  font: var(--font-h1);
  font-weight: 700;
}

.image-play {
  width: 4.5rem;
  height: 4.5rem;
  
  background-color: #fff;;
  box-shadow: 0px 36px 15px rgba(0, 0, 0, 0.01), 0px 20px 12px rgba(0, 0, 0, 0.05), 0px 9px 9px rgba(0, 0, 0, 0.09), 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-play img {
  width: 1.5rem;
  transition: all .1s ease;
}

.image-play img:hover {
  width: 1.7rem;
}

.buy-now > div {
  margin-block: 3rem 1.5rem;

  display: flex;
  align-items: center;
  gap: .75rem;
}

.buy-now > div span,
button {
  font: var(--font-span);
  color: var(--text-color);
  text-transform: uppercase;
}

button {
  background: #FFCD1E;
  box-shadow: 0px 36px 15px rgba(0, 0, 0, 0.01), 0px 20px 12px rgba(0, 0, 0, 0.05), 0px 9px 9px rgba(0, 0, 0, 0.09), 0px 2px 5px rgba(0, 0, 0, 0.1);
  border: none;
  padding: 1.5rem 3rem;
  border-radius: 2.25rem;

  display: flex;
  align-items: center;
  gap: .75rem;
  height: fit-content;
}

button img {
  background: #FFCD1E;
  width: 1.5rem;
}

h1 div {
  display: inline-block;
  overflow: hidden;
  height: 2.3rem;
  width: min-content;
  vertical-align: top;
}

strong {
  font: var(--font-h1);
  font-weight: 700;
}

h1 strong:nth-child(1),
h1 strong:nth-child(4) {
  color: #06B6D4;
}

h1 strong:nth-child(2) {
  color: #db2777;
}

h1 strong:nth-child(3) {
  color: #16a34a;
}

h1 strong {
  display: block;

  animation: animationStrong 6s ease infinite;
}

/* animations */

@keyframes animationStrong {
  0%, 22% {
    transform: translateY(0);
  }

  23%{
    transform: translateY(calc(-2.5rem - 7.5px));
  }
  
  25%{
    transform: translateY(calc(-2.5rem + 5px));
  }

  27%{
    transform: translateY(calc(-2.5rem - 2.5px));
  }

  29%{
    transform: translateY(calc(-2.5rem + 2.5px));
  }

  33%, 55% {
    transform: translateY(-2.5rem);
  }

  56%{
    transform: translateY(calc(-5rem - 7.5px));
  }
  
  59%{
    transform: translateY(calc(-5rem + 5px));
  }

  61%{
    transform: translateY(calc(-5rem - 2.5px));
  }

  63%{
    transform: translateY(calc(-5rem + 2.5px));
  }

  66%, 88% {
    transform: translateY(-5rem);
  }

  89%{
    transform: translateY(calc(-7.5rem - 7.5px));
  }
  
  92%{
    transform: translateY(calc(-7.5rem + 5px));
  }

  94%{
    transform: translateY(calc(-7.5rem - 2.5px));
  }

  96%{
    transform: translateY(calc(-7.5rem + 2.5px));
  }

  100% {
    transform: translateY(-7.5rem);
  }
}

@media (width >= 80rem) {

  .hero {
    display: flex;
    flex-direction: row-reverse;  
    gap: 2rem;
    align-items: center;
  }

  .hero > img {
    max-width: 30.5rem;
    aspect-ratio: 1 / 1;
  }

  .buy-now {
    display: flex;
    align-items: flex-end;
    gap: 2rem;
    margin-top: 2.5rem;
  }

  .buy-now > div {
    margin-block: 0;
  }

  h1 {
    width: 43.5rem;
  }

  h1 div {
    display: inline-block;
    overflow: hidden;
    height: 5rem;
    width: min-content;
    vertical-align: top;
  }

  @keyframes animationStrong {
    0%, 22% {
      transform: translateY(0);
    }
  
    23%{
      transform: translateY(calc(-5rem - 15px));
    }
    
    25%{
      transform: translateY(calc(-5rem + 10px));
    }
  
    27%{
      transform: translateY(calc(-5rem - 5px));
    }
  
    29%{
      transform: translateY(calc(-5rem + 5px));
    }
  
    33%, 55% {
      transform: translateY(-5rem);
    }
  
    56%{
      transform: translateY(calc(-10rem - 15px));
    }
    
    59%{
      transform: translateY(calc(-10rem + 10px));
    }
  
    61%{
      transform: translateY(calc(-10rem - 5px));
    }
  
    63%{
      transform: translateY(calc(-10rem + 5px));
    }
  
    66%, 88% {
      transform: translateY(-10rem);
    }
  
    89%{
      transform: translateY(calc(-15rem - 15px));
    }
    
    92%{
      transform: translateY(calc(-15rem + 10px));
    }
  
    94%{
      transform: translateY(calc(-15rem - 5px));
    }
  
    96%{
      transform: translateY(calc(-15rem + 5px));
    }
  
    100% {
      transform: translateY(-15rem);
    }
  }
} 